/* Course Weekly Content Styles */

.course-content {
    margin: 60px 0 20px;
}

.weekly-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 16px;
}

.course-content h2 {
    font-size: 1.5rem;
    color: var(--white);
    text-transform: lowercase;
}

.week-item {
    background: var(--mid-dark);
    border: var(--border-width) solid var(--nav-border);
    padding: 0;
}

.week-item summary {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: var(--text-color);
    padding: 19px 20px 21px;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: lowercase;
}

.week-item summary::-webkit-details-marker {
    display: none;
}

.week-item span {
    color: var(--pop);
    letter-spacing: -3px;
    margin-right: 4px;
}

.week-icon {
    color: var(--pop);
    width: auto;
    height: auto;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
    margin-right: 4px;
}

.week-item:not([open]) .week-icon {
    transform: rotate(-180deg) translateY(-3px);
}

.week-content {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.week-content h4 {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin: 0 0 12px 0;
    color: var(-mid-grey);
    color: #9090A7;
}

.week-overview {
    border-left: solid 2px var(--pop);
    padding: 2px 0;
    padding-left: 16px;
    padding-right: 60px;
}

.week-overview p {
    line-height: 1.55;
    margin: 0;
    color: var(--white);
}

.week-lecture {
    width: 100%;
}

.figma-embed {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: var(--border-width) solid var(--outline-color);
    border-radius: 2px;
}


.week-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.week-links a::before {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: var(--pop);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-right: 8px;
    content: '';
    transition: opacity 300ms ease-in-out;
    transition-delay: 50ms;
}

.week-links a.external::before {
    mask-image: url("../img/icons/i_external-link.svg");
}

.week-links a.figma::before {
    mask-image: url("../img/icons/i_figma.svg");
}

.week-links a.pdf::before {
    mask-image: url("../img/icons/i_pdf.svg");
}

.week-links a.zip::before {
    mask-image: url("../img/icons/i_zip.svg");
}

.week-links a {
    color: var(--text-color);
    text-decoration: underline;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-decoration-color: var(--nav-border);
    text-underline-offset: 2.5px;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;
    cursor: crosshair;
    transition: all 300ms ease-in-out;
}

.week-links a:hover {
    text-decoration-color: var(--pop);
}

.week-links a:hover::before {
    opacity: 0.66;
}